
<script> 

</script>

<% if current_user %>
<script>
    notifier = '	';
	user = "<%= current_user.jabber_id %>";
	alert(user);
	password = '123456';
	domain = "<%= XMPPDOMAIN %>";

/*	function onLoginSuccess(){
		$('.status').html("Connected and Logged In");
		xmpp_client.set_presence('available');
	} */
	
	var onLoginSuccess = function(){
		$('.status').html("Connected and Logged In");
	
	}
	function onLoginFailure(){
		alert('User could not be logged in');
	}
	function connectSuccess(){
		alert("Socket Connected");
	}

	function connectFailure(){
		$('.status').html("Connection Failed!");
	}

    function onSetupNotification(){}

	xmpp_client = new XMPPClient();
	xmpp_client.connect('localhost',5222);

	xmpp_client.onPresence = function(ntype, from) {
		alert('Presence message' + ntype + ' From :' + from)
	
	}

	xmpp_client.onSocketConnect = function(domain, connectSuccess, connectFailure){

	    var d = "<%= XMPPDOMAIN %>";
		$('.status').html('Connected');	
		
			xmpp_client.connectServer(d, connectSuccess, connectFailure);
			xmpp_client.login(user, password, onLoginSuccess, onLoginFailure);
			//xmpp_client.set_presence('available');
			
		
					
	}
	
	


	function send_message(id, msg){
		var j_id =  id + '@' + 'siddharth-ravichandrans-macbook-pro.local';
		alert('jid_id' + j_id);
		var status = xmpp_client.msg(j_id, msg);		
	}

	xmpp_client.onMessage = function(jid, username, text) {
		alert('message-recieved');
		if ( $('.discussion-area').length > 0 ){
			$('.discussion-area').append('<div class=\'new-message\'>' + text + '</div>');
			return false;
		}
	}





/*		self.login = function(nick, pass, s, f) {
	conn.onread = setUser;
	success = s;
	failure = f;
	user = nick;
	bare_jid = nick + "@" + domain;
	full_jid = bare_jid + "/Orbited";
	self.send(construct(LOGIN, [user, pass]));
	}

	self.set_presence = function(status, status_msg) {
	self.send(EXT_PRESENCE[0] + full_jid + EXT_PRESENCE[1] + room_jid + EXT_PRESENCE[3] + status + EXT_PRESENCE[4] + status_msg + EXT_PRESENCE[5]);
	}
*/
 </script>
<% end %>